@page
@model WebApp.Pages.Cliente.GridModel
@{
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Clientes
        </div>
        <div class="card-body">

            <h5 class="card-title">Clientes</h5>

            <a class="btn btn-secondary" asp-page="Edit"><i class="bx bxs-add-to-queue"></i></a>
            <div class="row">
                <div class="col-12">
                    <div class="overflow-x-scroll">
                        <table id="GridView" class="table table-bordered table table-striped table table-hover">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Identificación</td>
                                    <td>TipoIdentificacion</td>
                                    <td>Nombre</td>
                                    <td>PrimerApellido</td>
                                    <td>SegundoApellido</td>
                                    <td>Fecha Nacimiento</td>
                                    <td>FechaDefuncion</td>
                                    <td>Genero</td>
                                    <td>NombreApellidosPadre</td>
                                    <td>NombreApellidosMadre</td>
                                    <td>Pasaporte</td>
                                    <td>CuentaIBAN</td>
                                    <td>CorreoNotifica</td>
                                    <td>Nacionalidad</td>
                                    <td>Acción</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GridList)
                                {
                                <tr>
                                    <td>@item.IdCliente</td>
                                    <td>@item.Identificacion</td>
                                    <td>@item.TipoClienteNombre.Nombre</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.PrimerApellido</td>
                                    <td>@item.SegundoApellido</td>
                                    <td>@item.FechaNacimiento</td>
                                    <td>@item.FechaDefuncion</td>
                                    <td>@item.Genero</td>
                                    <td>@item.NombreApellidosPadre</td>
                                    <td>@item.NombreApellidosMadre</td>
                                    <td>@item.Pasaporte</td>
                                    <td>@item.CuentaIBAN</td>
                                    <td>@item.CorreoNotifica</td>
                                    <td>@item.N_Nacionalidad.Nombre</td>
                                    <td>
                                        <div class="d-flex">
                                            <a class="btn btn-secondary me-3" asp-page="Edit" asp-route-id="@item.IdCliente"><i class='bx bx-edit'></i></a>
                                            <button type="button" class="btn btn-secondary" onclick="ClienteGrid.OnClickEliminar(@item.IdCliente)"><i class='bx bx-trash'></i></button>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    .
</div>

@section Scripts{
    <script defer src="~/App/Cliente/Grid.js"></script>
}